<!DOCTYPE html>

<html>
  <title>Communication with Flask!</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
         data-client_id="665033402801-airrnnu2n9d85qec4ue0kuh4dn9d9a1f.apps.googleusercontent.com"
         data-ux_mode="redirect"
         data-login_uri="http://localhost:5000/dashboard">
  </div>
  <div class="g_id_signin" data-type="standard"></div>

</html>
