<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="static/style.css">
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <meta charset="UTF-8">
        <title>Jackson Secretary - Login</title>

        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    </head>

    <body>
      <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
        <div class="login_title">
          Jackson Secretary
        </div>

          <p class="text">
            JACKSON is an AI secretary that stores your calender plans and makes scheduling as easy as a single sentence prompt!
          </p>

        <div class="login_center">
          Sign in...
        </div>

        <div class="login_input" class= "inputbox">
        <div id="g_id_onload"
                 data-client_id="665033402801-0bb1erkdpbvp2act2pq4flkattrukfj6.apps.googleusercontent.com"
                 data-context="signin"
                 data-ux_mode="popup"
                 data-login_uri="https://1766-66-129-246-4.ngrok-free.app/main"
                 data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                 data-type="standard"
                 data-shape="pill"
                 data-theme="outline"
                 data-text="signin_with"
                 data-size="large"
                 data-logo_alignment="left">
            </div>
        </div>
    </body>
</html>
