<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

    <meta charset="UTF-8">
    <title>Jackson Secretary</title>

  </head>

  <body>
    <div>
     <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
  </div>

    <div class="body">
      <span style="font-size:25px;">{{ username }} </span> <img src="{{ pfp_url }}" class="pfp_image"><br>
      <a href="/calendar">Calendar</a> |
      <a href="/logout">Log out</a>
    </div>

    <div class="center">
      Ask anything about your calendar...
    </div>

    <form method="post" action="/response" class="input">
        <fieldset>
          <legend>Schedule</legend>
          <input type="text" id="inputbox" name="input" autocomplete="off" size = 100 class="inputbox" placeholder="Schedule birthday party at 8am">
          <input type="submit" value="Submit">
        </fieldset>
    </form>


  </body>
</html>